/*
hex:
black background: #1c1c1c
white
gray: #6b7280
div background, dark blue: #1f2937
mint: #10b981


*/

body {
    background: #1c1c1c;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: #1f2937;
    margin: 50px auto 0;
    width: 700px;
    height: 500px;
}

.header-text {
    width: 400px;
    padding: 0 20px 0 50px;
}

#header-line-one {
    margin: 0;
    padding-top: 100px;
    color: white;
}

#header-line-two {
    margin: 0;
    color: #4adf86;
}

#header-line-three {
    margin: 12px 0 0 0;
    color: #d5d4d8;

}

.generator-btn {
    background: #10b981;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 40px 0 0 50px;
    padding: 12px 12px;
}

hr {
    width: 600px;
    margin: 50px auto 0;
    border: 1px solid #273549;
}

.password-container {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.password-div {
    background: #273549;
    color: #55f991;
    margin: 0 10px;
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

#password-one-el {
    margin-right: 40px;
}



